.play {
  padding: 3rem 1.5rem 0;

  header {
    display: flex;
    align-items: center;
    font-size: var(--fs-heading-l);
    color: white;
    line-height: 1.2;
    letter-spacing: -0.005em;
  
    justify-content: space-between;

    .category {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

  }
}