@import "@/mixins.scss";

.play {
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0fr 1fr auto;
  gap: 2rem;
  max-height: 100vh;
  max-height: 100svh;

  header {
    display: flex;
    align-items: center;
    font-size: var(--fs-heading-l);
    color: white;
    line-height: 1.2;
    letter-spacing: -0.005em;

    justify-content: space-between;

    .category {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include bp-tablet {
        gap: 2rem;
        text-transform: uppercase;
        font-size: var(--fs-heading-xl);
        letter-spacing: 0.05em;
      }
    }
  }

  @include bp-tablet {
    padding: 4rem 2.5rem;
    gap: 3rem;
  }
}
