.play {
  padding: 3rem 1.5rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0fr 1fr auto;
  gap: 2rem;
  max-height: 100vh;
  max-height: 100svh;

  header {
    display: flex;
    align-items: center;
    font-size: var(--fs-heading-l);
    color: white;
    line-height: 1.2;
    letter-spacing: -0.005em;

    justify-content: space-between;

    .category {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
