.category {
  --border-radius: 1.25rem;
  display: block;
  font-size: var(--fs-heading-m);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.05em;
  color: #fff;
  padding: 1.5rem 4rem;
}