@import "@/mixins.scss";

.categories {
  --columns: 1;
  margin: 6.25rem auto 3rem;
  max-width: 21rem;
  display: grid;
  gap: 1rem;

  @include bp-tablet {
    --columns: 2;
    gap: 2rem;
    max-width: 42.5rem;
    grid-template-columns: 1fr 1fr;
  }

  @include bp-desktop {
    --columns: 3;
    max-width: 76rem;
    margin-top: 9.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
