@import "@/mixins.scss";

.categories {
  margin: 6.25rem auto 3rem;
  max-width: 21rem;
  display: grid;
  gap: 1rem;

  @include bp-tablet {
    gap: 2rem;
    max-width: 42.5rem;
    grid-template-columns: 1fr 1fr;
  }
}
