@import "@/mixins.scss";

.tutorial {
  margin: 3rem auto 0;
  max-width: 21rem;
  display: grid;
  gap: 1.5rem;

  @include bp-tablet {
    margin-top: 5rem;
    max-width: 42.5rem;
    gap: 2rem;
  }

  @include bp-desktop {
    max-width: 76rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
