@import "@/mixins.scss";

.main {
  min-height: 100vh;
  min-height: 100svh;

  padding: 0 1.625rem;

  display: grid;
  place-items: center;

  ul {
    display: grid;
    gap: 3.6rem;
    text-align: center;
  }

  .logo {
    width: calc(100% - 4rem);

    @include bp-tablet {
      max-width: calc(100% - 14rem);
      transform: translateY(-20%);
    }
  }

  .popup {
    padding-top: 12rem;
    @include bp-tablet {
      padding-top: 13rem;
      max-width: 40rem;
    }
  }
}
