.main {
  $anim-duration: 0.3s;

  min-height: 100vh;

  padding: 0 1.625rem;

  display: grid;
  place-items: center;

  ul {
    display: grid;
    gap: 3.6rem;
  }

  .logo {
    width: calc(100% - 4rem);
  }

  .popup {
    padding-top: 9rem;
    margin-top: 4rem;
  }

  @media (min-width: 48rem) {
  }
}