@import "@/mixins.scss";

.back-button {
  img {
    height: 1rem;

    @include bp-tablet {
      height: 1.625rem;
    }

    @include bp-desktop {
      height: 2.375rem;
      transform: translateY(-15%);
    }
  }
}
