@import "@/mixins.scss";

.header-button {
  --box-shadow: inset 0 -0.3125rem 0 -0.0625rem hsla(268, 91%, 56%, 25%);

  position: relative;
  width: 2.5rem;
  aspect-ratio: 1;
  background: linear-gradient(to bottom, #fe71fe, #7199ff);
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: var(--box-shadow);
    border-radius: 50%;
    opacity: 0;
    transition: opacity var(--anim-duration);
  }

  @media (hover: hover) {
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }

  @include bp-tablet {
    width: 3.5rem;
    --box-shadow: inset 0 -0.375rem 0 0.4375rem hsla(274, 91%, 57%, 25%);
  }

  @include bp-desktop {
    width: 5.875rem;
  }
}
