.header-button {
  position: relative;
  width: 2.5rem;
  aspect-ratio: 1;
  background: linear-gradient(to bottom, #FE71FE, #7199FF);
  display: grid;
  place-content: center;
  border-radius: 50%;
  box-shadow: inset 0 -0.3125rem 0 -0.0625rem hsla(268, 91%, 56%, 25%);
  overflow: hidden;
border: none;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 -0.3125rem 0 -0.0625rem hsla(268, 91%, 56%, 25%);
    border-radius: 50%;
    opacity: 0;
    transition: opacity var(--anim-duration);
  }

  &:hover::after {
    opacity: 1;
  }

  img {
    height: 1rem;
  }
}