@import "@/mixins.scss";

.game-modal {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;

  .header {
    --outline-size: 1rem;
    font-size: 5.875rem;
    letter-spacing: -0.005em;

    @include bp-tablet {
      font-size: 8.375rem;
    }
  }

  .menu {
    display: grid;
    gap: 2.125rem;
    text-align: center;
  }
}
