@import "@/mixins.scss";

.health {
  display: flex;
  gap: 1rem;
  align-items: center;

  .health-bar {
    width: 3.5rem;
    height: 1rem;
    background-color: white;
    border-radius: 100vw;
    padding: 0.25rem;

    .health-bar-fill {
      transition: width var(--anim-duration);
      height: 100%;
      background-color: #261676;
      border-radius: 100vw;
      height: 100%;
      width: 50%;
    }

    @include bp-tablet {
      width: 10rem;
      height: 2rem;
      padding: 0.5rem 0.75rem;
    }

    @include bp-desktop {
      width: 15rem;
      height: 2rem;
      padding: 0.5rem 0.75rem;
    }
  }

  img {
    height: 1.5rem;

    @include bp-tablet {
      height: 3rem;
    }

    @include bp-desktop {
      height: 3.125rem;
    }
  }

  @include bp-tablet {
    gap: 2.5rem;
  }
}
