@import "@/mixins.scss";

.letters {
  margin: 2rem auto 5rem;

  display: grid;
  column-gap: 0.5rem;
  row-gap: 1.5rem;

  width: 100%;
  max-width: 23rem;

  grid-template-columns: repeat(9, 1fr);

  font-size: 1.5rem;

  button {
    width: 100%;
    border: none;
    cursor: pointer;

    padding: 0.625rem 0;

    color: #261676;
    background: white;
    border-radius: 0.5rem;

    line-height: 1.5;

    transition: background-color var(--anim-duration), color var(--anim-duration);

    &:disabled {
      cursor: not-allowed;
      opacity: 0.25;
    }

    &:hover:not(:disabled) {
      background: #2463ff;
      color: white;
    }

    @include bp-tablet {
      border-radius: 1.5rem;
    }
  }

  @include bp-tablet {
    max-width: 44rem;
    column-gap: 1rem;
    font-size: 3rem;
  }

  @include bp-desktop {
    max-width: 73rem;
    column-gap: 1.5rem;
    margin-bottom: 0rem;
  }
}
