@import "@/mixins.scss";

.secret-text {
  margin: auto;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;

  li {
    margin: 0.375rem 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0.4rem;
    row-gap: 0.6rem;
    color: #fff;
  }
}
