.letter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2463ff;
  border-radius: 0.75rem;
  width: 2.5rem;
  height: 4.125rem;
  box-shadow: inset 0 -0.125rem 0 0.1875rem #140e66, inset 0 0.0625rem 0 0.375rem #3c74ff;
  color: transparent;
  opacity: 0.25;
  text-transform: uppercase;

  &.guessed {
    opacity: 1;
    color: #fff;
  }
}

.break {
  position: relative;
  &::before {
    position: absolute;
    left: 100%;
    margin-left: 0.2rem;
    display: block;
    content: "-";
    color: white;
  }
}
