/* BEGIN RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* END RESET */

@font-face {
  font-family: "Mouse Memoirs";
  src: url("/assets/fonts/MouseMemoirs-Regular.ttf") format("truetype");
}

:root {
  --fs-heading-s: 1.5rem;
  --fs-heading-m: 2rem;
  --fs-heading-l: 2.5rem;
  --fs-heading-xl: 3rem;

  --fs-body-m: 1rem;

  --anim-duration: 0.3s;
}

body {
  font-family: "Mouse Memoirs", sans-serif;
  min-height: 100vh;
  background: url("/assets/images/background-mobile.svg") no-repeat center center / cover;
}
